.img{
    width: 110px;
    height: 25px;
    margin-left: 65px;
}
.contact_info_hove:hover{
    color: white;
}
.contact_info_hove{
    color: grey;
}
.footer_list{
    display: flex;
    list-style-type: none;
    color: gray;
    justify-content: center;
    margin-top: 30px;
    font: size 13px;;
    flex-wrap: wrap;
}
.nav_hov:hover{
    color: white;
    text-decoration: underline;
}